{{ $ := .root }}
{{ $page := .page }}
{{ $hash_id := .hash_id }}

{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $page.Params.author }}
{{end}}

{{ $person_page_path := (printf "/authors/%s" $author) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
  {{ errorf "Could not find an author page at `%s`. Please check the value of `author` in your About widget and create an associated author page if one does not already exist. See https://wowchemy.com/docs/page-builder/#about " $person_page_path }}
{{end}}
{{ $person := $person_page.Params }}
{{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}
{{ $avatar_shape := site.Params.features.avatar.shape | default "circle" }}

<!-- About widget -->
<div class="row">
  <div class="col-12 col-lg-3">
    <div id="profile">

      <div class="portrait-title">
        <h4>
            {{- $person_page.Title -}}
        </h4>

        {{ if site.Params.features.avatar.gravatar }}
        <img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}" src="https://s.gravatar.com/avatar/{{ md5 $person.email }}?s=270')" alt="{{$person_page.Title}}">
        {{ else if $avatar }}
        {{ $avatar_image := $avatar.Fill "360x360 Center" }}
        <img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}"
             width="{{ $avatar_image.Width }}" height="{{ $avatar_image.Height }}"
             src="{{ $avatar_image.RelPermalink }}" alt="{{$person_page.Title}}">
        {{ end }}

        {{ with $person.role }}<h3>{{ . | markdownify | emojify }}</h3>{{ end }}

        {{ range $person.organizations }}
        <h3>
          {{ with .url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ end }}
          <span>{{ .name }}</span>
          {{ if .url }}</a>{{ end }}
        </h3>
        {{ end }}
      </div>

      <ul class="network-icon" aria-hidden="true">
        {{ range $person.social }}
        {{ $pack := or .icon_pack "fas" }}
        {{ $pack_prefix := $pack }}
        {{ if in (slice "fab" "fas" "far" "fal") $pack }}
          {{ $pack_prefix = "fa" }}
        {{ end }}
        {{ $link := .link }}
        {{ $scheme := (urls.Parse $link).Scheme }}
        {{ $target := "" }}
        {{ if not $scheme }}
          {{ $link = .link | relLangURL }}
        {{ else if in (slice "http" "https") $scheme }}
          {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
        {{ end }}
        <li>
          <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} aria-label="{{ .icon }}">
            <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }} big-icon"></i>
          </a>
        </li>
        {{ end }}
      </ul>

      <div class= "portrait caption">
          <p style="text-align:justify; font-size: 16px;">{{ $person.caption | markdownify | emojify }}</p>
      </div>
    </div>
  </div>

  <div class="col">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      {{ range $index, $item := $page.Params.content.slides }}
      <li data-target="#{{$hash_id}}" data-slide-to="{{$index}}" {{if eq $index 0}}class="active"{{end}}></li>
      {{ end }}
    </ol>

    <!-- Carousel slides wrapper -->
    <div class="carousel-inner">
      {{ range $index, $item := $page.Params.content.slides }}

        {{ $style_bg := "" }}
        {{ $style_filter := "" }}

        {{with $page.Params.design.slide_height}}
          {{ $style_bg = printf "%s height: %s;" $style_bg . }}
        {{end}}

        {{ with $item.background.color }}
          {{ $style_bg = printf "%s background-color: %s;" $style_bg (. | default "transparent") }}
        {{ end }}

        {{ if $item.background.media }}
          {{ $bg_img := resources.Get (printf "media/%s" $item.background.media) }}
          {{ if $bg_img }}
            {{ $style_bg = printf "%sbackground-image: url('%s'); background-repeat: no-repeat; background-position: %s; background-size: %s; " $style_bg $bg_img.Permalink ($item.background.position | default "center") ($item.background.fit | default "cover") }}
          {{ else }}
            {{ errorf "Couldn't find `%s` in the `assets/media/` folder - please add it." $item.background.media }}
          {{ end }}
          {{ with $item.background.brightness }}
            {{ $style_filter = printf "%s-webkit-backdrop-filter: brightness(%s); backdrop-filter: brightness(%s);" $style_filter (string .) (string .) }}
          {{ end }}
        {{ end }}

        <div class="carousel-item{{if eq $index 0}} active{{end}} {{with $page.Params.design.is_fullscreen}}fullscreen{{end}}" style="{{$style_bg | safeCSS}}">
          <div class="position-absolute d-flex w-100 h-100 justify-content-center align-items-center" style="{{$style_filter | safeCSS}}">
            {{/* To prevent control overlap, margins are based on $carousel-control-* in bootstrap-variables.scss */}}
            <div class="wg-hero dark container" style="margin-left: 6rem; margin-right: 6rem; text-align: {{ $item.align | default "left" }};">
              <h1 class="hero-title">
                {{ with $item.title }}{{ . | markdownify | emojify }}{{ end }}
              </h1>

              {{ with $item.content }}
                <p class="hero-lead" style="{{if eq $item.align "center"}}margin: 0 auto 0 auto;{{else if eq $item.align "right"}}margin-left: auto; margin-right: 0{{end}}">
                  {{ . | markdownify | emojify }}
                </p>
              {{ end }}

              {{ if $item.link.url }}
                {{ $pack := $item.link.icon_pack | default "fas" }}
                {{ $pack_prefix := $pack }}
                {{ if in (slice "fab" "fas" "far" "fal") $pack }}
                  {{ $pack_prefix = "fa" }}
                {{ end }}
                <p>
                  <a href="{{ $item.link.url }}" class="btn btn-light btn-lg mt-3">
                    {{- with $item.link.icon -}}<i class="{{ $pack }} {{ $pack_prefix }}-{{ . }}" style="padding-right: 10px;"></i>{{- end -}}
                    {{- $item.link.text | emojify | markdownify | safeHTML -}}
                  </a>
                </p>
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#{{$hash_id}}" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{$hash_id}}" data-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
